body{
    background: lightblue;
}
body .row p{
    text-align: center;
}
.bgimage{
    background-image: url("../images/chair.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
}