* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

/* ---- grid ---- */

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33%;
    margin-bottom: 0.5%;
}

/*.grid-item--width2 { width:  40%; }*/
/*.grid-item--width3 { width:  30%; }*/

.gutter-sizer {
    width: 0.5%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}